<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<section id="playground">
	
	
		<div class="holder">

<label for="plaintext">Plaintext: </label>

<input type="text" id="plaintext"  placeholder="plaintext"  @input="plaintext = $event.target.value" >
</div>
<div class="holder">

<label for="a">a: </label>


<input type="number" name="box" v-model="a">
<input type="range" name="a" id="a" v-model="a">


</div>
<div class="holder">

<label for="b">
b:
 </label>


<input type="number" name="key-box" v-model="b">
<input type="range" name="b" id="b" v-model="b">

</div>
<div class="holder">

 <label for="ciphertext">Ciphertext:
 </label>


<input type="text"  name="ciphertext" id="ciphertext" placeholder="ciphertext" :value="ciphertext" @input="ciphertext = $event.target.value">

</div>
<div class="holder">



</div>


<div class="message" v-if="!allowed || show">
{[ message ]}
</div>


</section>
<script type="text/javascript" src="/static/snippets/affine.js"></script>