
<section id="playground">

<v-card flat class="px-3">
	

	
	<v-textarea   id="ciphertext" outlined label="Ciphertext" :value="ciphertext" @input.native="e=>ciphertext = e.target.value">
		 <v-icon id="ciphertext_Icon"
      slot="append" 
      @click="copyIt($event)"
     
  >
    mdi-content-copy
 </v-icon>

	</v-textarea>
   <v-slider
              v-model="key"
              :max="25"
              :min="0"
              label="Key"
             
              class="align-center"
               thumb-label="auto"
            >
              <template v-slot:append>
                <v-text-field
                  v-model="key"
                  class="mt-0 pt-0"
                  type="number"
                  step="1"
                  style="width: 60px"
                ></v-text-field>
              </template>
            </v-slider>
  <v-textarea   id="plaintext" outlined label="plaintext" :value="plaintext" @input.native="e=>plaintext = e.target.value">
     <v-icon id="ciphertext_Icon"
      slot="append" 
      @click="copyIt($event)"
     
  >
    mdi-content-copy
 </v-icon>

  </v-textarea>
 
 
</v-card>
<div v-if="!latest" class="red message">
	Type in any of the input to update its corresponding output(s).
</div>




</section>
