<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

<section id='playground'>

	<table>
		<tr>
<td>	<label for="plaintext">Plaintext: </label></td>
<td>	<input type="text" name="plaintext" v-model="plaintext" id = "plaintext" placeholder="plaintext"></td>
</tr>
<tr>
	<td>	<label for="key"> Key: </label></td>

<td>	<input type="number" name="key-box" v-model.number="key" min='0' max='25'>
<input type="range" id="key" name="key" v-model.number="key" min=0 max=25></td>
</tr>
<tr>
<td>	<label for="ciphertext">Ciphertext: </label></td>
<td>	<input type="text" id="ciphertext" name="ciphertext" v-model="ciphertext" placeholder="ciphertext"></td>
</tr>
 
</table>
<message v-if="!latest" class="red message">
	Type in any of the input to update its corresponding output(s).
</message>

</section>

<script type="text/javascript" src="/static/snippets/caesar.js"></script>

