<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

<section id='playground'>


	<div class="holder">
		<label for="plaintext">Plaintext: </label></td>
		<input type="text" name="plaintext" :value="plaintext" @input="plaintext = $event.target.value" id = "plaintext" placeholder="plaintext">
	</div>

	<div class="holder">
		<label for="key"> Key: </label>
		<input type="number" name="key-box" v-model.number="key" min='0' max='25'>
		<input type="range" id="key" name="key" v-model.number="key" min=0 max=25>
	</div>

	<div class="holder">
		<label for="ciphertext">Ciphertext: </label>
		<input type="text" id="ciphertext":value="ciphertext" @input="ciphertext = $event.target.value" name="ciphertext" v-model="ciphertext" placeholder="ciphertext">
	</div>
 

<div v-if="!latest" class="red message">
	Type in any of the input to update its corresponding output(s).
</div>

</section>

<script type="text/javascript" src="/static/snippets/caesar.js"></script>

