

<section id='playground'>
<v-card flat class="px-3 pb-4">	
	<v-textarea   id="plaintext" outlined label="Plaintext" :value="plaintext" @input.native="e=>plaintext = e.target.value">
		 <v-icon id="plaintext_Icon"
      slot="append" 
      @click="copyIt($event)"
     
  >
    mdi-content-copy
 </v-icon>

	</v-textarea>
	<v-btn @click="create_msg">
		Encode Msg
	</v-btn>

	<v-textarea  v-if="CodeReady" class="my-4"  readonly id="encodedMsg" outlined label="Encoded Message" :value="encodedMsg" @input.native="e=>encodedMsg = e.target.value">
		 <v-icon id="encodedMsg_Icon"
      slot="append" 
      @click="copyIt($event)"
     
  >
      mdi-content-copy
</v-icon>
</v-textarea>
	 <v-simple-table v-if="CodeReady">
    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-left body-1 strong" >
            Character
          </th>
          <th class="text-left body-1 strong">
            Code
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(value,item) in codeBook"
          :key="item"
        >
          <td>{[ item ]}</td>
          <td>{[ value ]}</td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>

</v-card>
</section>

