<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

<section id='playground'>
	<table>
		<tr>
			<td>
	<label for="plaintext">Plaintext: </label>
			</td>
			<td>
	<input type="text" id="plaintext" v-model="plaintext" placeholder="plaintext">
			</td>
		</tr>
		<tr>
		<td>
	<label for="ciphertext"> Ciphertext: </label>
		</td>
		<td>
	<input type="text"  id="ciphertext" v-model="ciphertext" placeholder="ciphertext">
		</td>
		</tr>
	</table>
</section>
<script type="text/javascript" src="/static/snippets/morse.js"></script>