<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

<section id='playground'>
	
		<div class="holder">
			
	<label for="plaintext">Plaintext: </label>
			
			
	<input type="text" id="plaintext" value="plaintext" @input="plaintext = $event.target.value"  placeholder="plaintext">
			
		</div>
		<div class="holder">
		
	<label for="ciphertext"> Ciphertext: </label>
		
		
	<input type="text"  pattern="\.*\-* " id="ciphertext" :value="ciphertext" @input="ciphertext = $event.target.value" placeholder="ciphertext">
		
		</div>
	
</section>
<script type="text/javascript" src="/static/snippets/morse.js"></script>