<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

<section id='playground'>
	<div class="holder">
	<input type="text" name="ciphertext" id="ciphertext" placeholder="ciphertext" :value="ciphertext" @input="ciphertext = $event.target.value">
	<input type="number" name="key-box" v-model.number="key" min='0' max={[ciphertext.length]}>
	<input type="range" id="key" name="key" v-model.number="key" min=0 max={[ciphertext.length]}>
	<label for="plaintext">Plaintext</label>
	<span id="plaintext"> {[ plaintext ]}</span>
	</div>
</section>
<script type="text/javascript" src="/static/snippets/torah.js"></script>
