

<section id='playground'>
<v-card flat class="px-3">
	 <v-textarea   counter id="ciphertext" outlined label="Ciphertext" :value="ciphertext" @input.native="e=>ciphertext = e.target.value" :rules=rules>
		 <v-icon id="ciphertext_Icon"
      slot="append" 
      @click="copyIt($event)"

     
  		>
    mdi-content-copy
 </v-icon>

	</v-textarea>

	 <v-slider
              v-model="key"
              :max=350
              :min="0"
              label="key"
			 step="1"
              class="align-center"
               thumb-label
            >
              <template v-slot:append>
                <v-text-field
                  v-model="key"
                  class="mt-0 pt-0"
                  type="number"
                  style="width: 60px"
                ></v-text-field>
              </template>
            </v-slider>
	<v-textarea   id="plaintext" readonly outlined label="plaintext" :value="plaintext" @input.native="e=>plaintext = e.target.value">
     <v-icon id="plaintext_Icon"
      slot="append" 
      @click="copyIt($event)">

       mdi-content-copy
 </v-icon>

	</v-textarea>


     
 
</v-card>
</section>

