

<section id='playground'>
	
		<v-card flat class="px-3">
	

	
	<v-textarea   id="plaintext" outlined label="Plaintext" :value="plaintext" @input.native="e=>plaintext = e.target.value">
		 <v-icon id="plaintext_Icon"
      slot="append" 
      @click="copyIt($event)"
     
  >
    mdi-content-copy
 </v-icon>

	</v-textarea>
	<v-text-field id="key" :value="key" label="key" @input.native="e=>key = e.target.value"> 
		 <v-icon id="key_Icon"
      slot="append" 
      @click="copyIt($event)"
     
  >
    mdi-content-copy
 </v-icon>
	</v-text-field>

<v-textarea   id="ciphertext" outlined label="Ciphertext" :value="ciphertext" @input.native="e=>ciphertext = e.target.value">
		 <v-icon id="ciphertext_Icon"
      slot="append" 
      @click="copyIt($event)"
     
  >
    mdi-content-copy
 </v-icon>
</v-textarea>

	
	

<message v-if="keyEnter" class="red message">
{[ message ]}
</message>
</div>
</section>
