<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

<section id='playground'>
	
		<div class="holder">
			
				<label for="plaintext"> Plaintext: </label>
			</td>
			
	<input type="text" name="plaintext" id="plaintext" value="plaintext" @input="plaintext = $event.target.value" placeholder="plaintext">
			</td>


	
		<label for="key"> Key: </label>
	</td>
	
	<input type="text" pattern= "[a-zA-Z]+" name="key" v-model="key" placeholder="key" oninvalid="setCustomValidity('Enter only alphabets')">
	</td>

	
		
		<label for="ciphertext"> Ciphertext: </label>
		</td>
		
	<input type="text" id="ciphertext" :value="ciphertext" @input="ciphertext = $event.target.value" placeholder="ciphertext">
</td>
	

<message v-if="keyEnter" class="red message">
{[ message ]}
</message>
</div>
</section>
<script type="text/javascript" src="/static/snippets/vingere.js"></script>