@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.header {
    
    background: #198bff;
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 2px 9px 1px rgb(0 0 0 / 12%), 0 4px 2px -2px rgb(0 0 0 / 20%);
    color: #ede7e6;
    display: flex;
    flex-direction: row;
    font-size: 27px;
    height: fit-content;
    justify-content: flex-start;
    padding: 0px;
    padding-top: 16px;
    margin-bottom: 12px;
    padding-left: 8px;
    position: fixed;
    transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
    width: 100%;
    will-change: transform;
    z-index: 1000;
}
html,body {
  font-family: 'Helvetica', 'Verdana', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 12;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  /*text-align: center;
  align-items: center;
  */
  height: 100vh;
  background-color: #ede7e6;
}
t1,t2{
  font-size: 38px;
  text-align: top;
}
t1{
  font-family: 'Bebas Neue', cursive;
  text-align: center;


}
t2
{
font-family: 'Bebas Neue', cursive;
 color: red;
}

main {
 
   
   transition: all .82s ease-out;
   background-color: #ffffff;
   align-content:center;
   min-height: 100vh;
   height: fit-content;
   justify-content: center;
   padding: 25px 25px 25px 25px;
   margin-top: 1.5em;
   flex-direction: column;
   display: flex;

}

.gallery
{
  
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  
}

.gallery a
{
      text-decoration-line: none;

}
img{
  width: min(100%,800px);
  height: min(auto,1600px);
}
t3
{
  font-size:  67px;
  font-family: 'Abril Fatface', cursive;
}
hr{
width:35%;
max-width: 450px;
 margin-left: 0px;
 align-self: left;

  }
.snippets
{   box-sizing: border-box;
  background: #990000;
  color: white;
  min-width: 150px;
  height: 100px;
  display: flex;
  /* align-content: flex-end; */
  align-items: flex-end;
  justify-content: flex-end;
  margin: 12px;
  padding: 8px;
  font-family: monospace;
  font-size: 25px;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 2px 9px 1px rgb(0 0 0 / 12%), 0 4px 2px -2px rgb(0 0 0 / 20%);
    
}
.snippets:hover
{
  box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transform: translateZ(-3px) scale(1.15);
}
footer {
  position: relative;
  align-content: left;
  align-items: left;
  background: #020924;
  left: 0;
  bottom: 0;
  text-align: left;
  color:white;
  font-size: 20px;
  height: fit-content;
  font-size: 1.85rem;
  padding: 16px 16px 0 16px;
  width: 100%;
  width: 100%;
  z-index: 1000;
}
a.contact{
  color:white;
}
.mini-container
{
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: left;
}
.header a
{
  text-decoration: none;
  text-decoration: bold;
  color: white;
}
button
  {
    font-size: 1em;
    background: #198bff;
    color: white;
  }
@media only screen and (max-width:800px)
{ 
  .header{
    justify-content: center;
    padding-left: 0px;
  }
  main{
     flex-direction: column;
     padding: 25px 0.4ch 25px 0.4ch;
     margin-right: 0px;
     margin-left: 0px;
     overflow-wrap: anywhere;

  }
  .snippets{
    width: fit-content;
    min-height: fit-content;
    pa
    width: 100%;
    align-items: center;
    justify-content: center;
    /* padding-left: .5ch */

  }
  
@media only screen and (max-width:450px)
{
  .snippets
  {
    margin: 0px;
  }
}


}
