@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Zilla+Slab:ital,wght@1,700&display=swap');

article{
	font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    max-width: 60ch;
    overflow-wrap: break-word;
}

h1
{
  font-size: 4rem;
   padding-top: 0.4ch;
 
  font-family: 'Zilla Slab', serif;
}
main
{
	flex-direction: row;
	flex-direction: space-around;
}
h2
{
	font-size: 2.5rem;
	font-family: 'Zilla Slab', serif;

}
.info
{
  	flex: 3;
  	margin: 0px auto 0px auto;
  	 max-width: fit-content;
  

}
.sidebar
{	max-width: fit-content;
    padding-top: 85px;
    flex: 1;
    padding-left: 3ch;
    position: sticky;
    right: 0px;
}
.mini-container
p
{	
	font-size: 28px;
	font-family: "Courier Bold";
	margin: 0;

}
label {
	font-size: 1.5rem;
}
input{
	font-size: 1.5rem;
}
 .message{
 	box-sizing: border-box;
	border-color: red;
    border-width: thick;
    margin: 10px;
    min-height: 3rem;
    background: #ff5656;
    color: white;
    padding: 1.2ch
    }
body{
	font-size: 1.5rem;
}
input [type="number"]
{
	font-size: 1rem;
	width: fit-content;
}
.holder
{
	display: flex;
	padding-top: 2ch;
	flex-direction: column;
}
#mapping  {
  border: 1px solid black;
}
@media only screen and (max-width:800px)
{
  main{
    flex-direction: column;
     padding: 25px 1ch 25px 1ch;
     margin-right: 0px;
     margin-left: 0px;
  }
  .sidebar
{
	padding-left: 0px;
}
  
}
.card_house {
  display: flex;
  flex-direction: column;
  margin: 0.8ch auto 0.8ch auto;
  align-self: center;
}
.cards
{ 
  max-width: 35ch;

}
.cards .h2
{
  font-size: 8rem;
  left: 0px;

}
.card p
{
  font-size: 1rem;
}

