.snippets
{  
  background: #990000;
  color: white;
  display: flex;
  margin: 5px;
  margin-bottom: 14px;
  padding: 10px;
  font-size: 2rem;
  min-width: 150px;
  min-height: 180px;
  max-width: 400px;
  width: 29%;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 2px 9px 1px rgb(0 0 0 / 12%), 0 4px 2px -2px rgb(0 0 0 / 20%);
    
}



@media only screen and (max-width: 300px)
{
    .snippets{
      margin: 5px;
      min-width: 100%;
    }
}
.v-select__selections input { display: none}
.snippets a
{
  text-decoration: none;
  text-decoration: bold;
  text-decoration-line: none;
  color: white;
  display: block;
  width: 100%;
  height: 100%;
}
.snippets:hover{
  outline-style: solid;
  outline-color: white;
  outline-width: 1px;
}
a{
  text-decoration: none;
  text-decoration: bold;
  text-decoration-line: none;
  color: white;
  height: fit-content;
  width: fit-content;
  color: white;
}
.v-application a{
  color:white;
}
