
{% extends "base.html" %}

{% block content %}
	<div class="mini-container">
		<h1>
			Traditional Ciphers
			
		</h1>
		
		<div class='gallery'>
			<a href="/tool/shift_cipher">
				<div class="snippets" role="button" aria-pressed="false">
					Caesar<br>Cipher
				</div>
			</a>
			<a href="/tool/playfair_cipher">
				<div class="snippets" style="background-color: #007699" role="button" aria-pressed="false">
					Playfair<br>Cipher
				</div>
			</a>
			<a href="/tool/affine_cipher">
				<div class="snippets" style="background-color: #d62828" role="button" aria-pressed="false">
					Affine<br>Cipher
				</div>
			</a>
			<a href="/tool/vigenere_cipher">
				<div class="snippets" style = "background-color: #f77f00 "role="button" aria-pressed="false">
				Vigenère<br>cipher
				</div>
			</a>
				
			</div>


	</div>
	
	<div class="mini-container">
		<h1>
			Ad-hoc
			
		</h1>
		
		<div class='gallery'>
			<a href="/tool/torah_code">
				<div class="snippets" style="background-color: #007699" role="button" aria-pressed="false">
					Skip<br>code
				</div>
			</a>
			<a href="">
				<div class="snippets" style="background-color: #d62828" role="button" aria-pressed="false">
					Anagrams<br>Solver
				</div>

			</div>
		</a>
		<div class="mini-container">
		<h1>
			Encodings
		</h1>
		<div class="gallery">
		<a href="/tool/morse_code">
			<div class="snippets" role="button" style= "background-color: #f77f00" aria-pressed="false">
					Morse<br>Code
				</div>
		</a>
		<a href="">
			<div class="snippets" style="background-color: #d62828" role="button" aria-pressed="false">
					ASCII
					</div>
		</a>
		<a href="/tool/huffman_encoding">
			<div class="snippets" style="background-color: #007699" role="button" aria-pressed="false">
					Huffman<br>Encoding
				</div>
		</a>
		</div>
	</div>


</div>
</div>
{% endblock %}





