{% extends "base.html" %}
{% block head %}
 <meta name="description" content=" {{desc}}" />
	<title>
		 {{title.name}} at Cypher-Box 
	</title>
	<meta content=" {{title.name}} at Cypher-Box " property="og:title" />

	<meta content="{{desc}} " property="og:description" />
<meta name="theme-color" content=" {{title.color}} " />


{% endblock %}
{% block content %}
<style type="text/css">
	.header{
		background-color: {{title.color}};
	}
</style>
<link rel="stylesheet" type="text/css" href=" /static/c2.css">
<div class="info" >
	<h1>
		{{title.name}}
	</h1>
	<em> Jump to <a href="#playground">demo</a></em>
	<article>
	{{title.description}}
	</article>
	{% include title.link %}
</div>
<aside class="sidebar">


{% if  resource %}
<div class="mini-container">
<h2>
	Resources
</h2>

<ul>
	{% for resources in resource %}
	<li>
	<a href={{ resources.link }}>
		{{ resources.name }}
	</a>
	</li>
	{% endfor %}
</ul>

</div>
{% endif %}

{% if  variant %}
<div class="mini-container">
<h2>
	Variants
</h2>

<ul>
	{% for variants in variant %}
	<li>
	<strong>
		{{ variants.name }}: 
	</strong>
	<description>
		{{ variants.description }}
	</description>
	</li>
	{% endfor %}
</ul>

</div>
{% endif %}

	</aside>

{% endblock %}